name: Salesforce QA Validation

on:
  pull_request:
    branches: 
      - develop
      - integration
jobs:
    deploy:
        runs-on: ubuntu-latest
    
        steps:
          - name: Checkout Repository
            uses: actions/checkout@v3
