name: Salesforce QA Validation

on:
  pull_request:
    branches: 
      - develop
      - integration
    paths: 
      - "force-app/**"
jobs:
    deploy:
        runs-on: ubuntu-latest
    
        steps:
          - name: Checkout Repository
            uses: actions/checkout@v6.0.2
            with:
              fetch-depth: 0
              
          - name: Setup Node.js environment
            uses: actions/setup-node@v6.2.0
